body {
  font-family: 'Ubuntu', sans-serif;
}

.game {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  width: 100%!important;
  height: 100%!important;
}

.menu {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 12.5%;
  top: 12.5%;
  background: gray;
  border-radius: 4px;
}